.secyoucom
    .logoab
        width: 45%
        padding-left: 10%
    .textab
        width: 55%
        p
            font-size: 0.85vw

.cardss, .cardss2
    height: 46vw
    background-color: #334d5c
    .toppackage
        width: 100%
        .imgpackage
            width: 35%
        .cardsectitle
            width: 65%
            
    div
        background-color: #334d5c
    .carte
        width: 90%
        .card
            width: 80%
            p
                font-size: 0.75vw
            button
                height: 50px
.cardss2
    background-color: #fff
    div
        background-color: #fff